<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnSkipped="false"
  bootstrap = "test/bootstrap.php">
  <testsuites>
    <testsuite name="Math">
      <directory>./test/tests/Math</directory>
    </testsuite>
    <testsuite name="Util">
      <directory>./test/tests/Util</directory>
    </testsuite>
    <testsuite name="Importer">
      <directory>./test/tests/Importer</directory>
    </testsuite>
    <testsuite name="Ruleset">
      <file>./test/tests/Node/RulesetTest.php</file>
    </testsuite>
    <testsuite name="Color">
      <directory>./test/tests/Color</directory>
    </testsuite>
    <testsuite name="Node">
      <directory>./test/tests/Node</directory>
    </testsuite>
    <testsuite name="Visitor">
      <directory>./test/tests/Visitor</directory>
    </testsuite>
    <testsuite name="FunctionRegistry">
      <directory>./test/tests/FunctionRegistry</directory>
    </testsuite>
    <testsuite name="SourceMap">
      <directory>./test/tests/SourceMap</directory>
    </testsuite>
    <testsuite name="Variable">
      <directory>./test/tests/Variable</directory>
    </testsuite>
    <testsuite name="Cache">
      <directory>./test/tests/Cache</directory>
    </testsuite>
    <testsuite name="Environment">
      <directory>./test/tests/Environment</directory>
    </testsuite>
    <testsuite name="Parser">
      <directory>./test/tests/Parser</directory>
    </testsuite>
    <testsuite name="CLI">
      <directory>./test/tests/CLI</directory>
    </testsuite>
    <testsuite name="Issues">
      <directory>./test/tests/Issues</directory>
    </testsuite>
  </testsuites>
</phpunit>