/**
 * Genesis 1:1  Na počátku stvořil Bůh nebesa a zemi.
 */
@na-pocatku: Bůh tvořil;

body {
  na-pocatku: @na-pocatku; /* Země byla pustá a prázdná, temnota byla nad hlubinou a Duch Boží se vznášel nad vodami. */
  background: none;
}

body:after {
  background: midnightblue; /* I řekl Bůh: Budiž světlo! A bylo světlo. */
  color: yellow;
}
